<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.lab.dao.CommonMapper" >
    
  <select id="getVByK" resultType="map" parameterType="string" statementType="STATEMENT">
	
	select ${keyout} from ${tname} where ${bykeyname} = ${bykeyvalue}

  </select>
  
   
</mapper>